@import "text-presets";

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

main {
  padding: $spacing-1600 $spacing-600;
  background-color: $color-stone-100;
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  /* Styles for the card block */
  display: grid;
  max-width: 73.6rem;
  gap: $spacing-500;
  padding: $spacing-500;
  border-radius: 2.4rem;
  background-color: white;
}

.card__image {
  /* Styles for the card image element */
  max-height: 30rem;
  width: 100%;
  border-radius: 2.4rem;
}

.card__content {
  /* Styles for the card content element */
  display: grid;
  text-align: left;
  gap: $spacing-400;
}

.card__header {
  /* Styles for the card header element */
  display: grid;
  justify-content: left;
  gap: $spacing-300;
}

.card__title {
  /* Styles for the card title element */
  color: $color-stone-900;
  @include text-preset-1;
}

.card__description {
  /* Styles for the card description element */
  color: $color-stone-600;
  @include text-preset-4;
}

.card__section {
  /* Styles for the card section element */
  display: grid;
  gap: $spacing-300;

  &--preparation-time {
    /* Styles for the preparation time section modifier */
    padding: $spacing-300;
    gap: $spacing-200;
    border-radius: $spacing-150;
    background-color: $color-rose-50;
  }
}

.card__section-title {
  /* Styles for the card section title element */
  color: $color-brown-800;
  @include text-preset-2;

  &--preparation-time {
    /* Styles for the preparation time section title modifier */
    color: $color-rose-800;
    @include text-preset-3;
  }
}

.card__list {
  /* Styles for the card list element */
  color: $color-stone-600;
  gap: $spacing-100;
  @include text-preset-4;
}

.card__list-item {
  /* Styles for the card list item element */
  list-style-position: inside;

  &--instruction::marker {
    /* Styles for the instruction list item modifier */
    @include text-preset-4--bold;
    padding-right: $spacing-100;
  }
}

.card__strong-instruction {
  margin-left: $spacing-200;
}

.card__table {
  /* Styles for the card table element */
  display: grid;
  text-align: left;
  gap: $spacing-150;
  @include text-preset-4;
}

.card__table-item {
  /* Styles for the table row element */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $spacing-200;
  padding: 0 $spacing-400;
}

.card__table-header {
  color: $color-stone-600;
  @include text-preset-4;
}

.card__table-data {
  color: $color-brown-800;
  @include text-preset-4--bold;
}

.card__divider {
  border-top: 1px solid $color-stone-150;
}
